<head>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />

  <link rel="stylesheet" href="/public/css/bootstrap-theme.css" />
  <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/public/css/ionicons.min.css" />
  <link rel="stylesheet" href="/public/css/common.css" />
  <link rel="stylesheet" href="/public/css/button-style.css" />
  <link rel="stylesheet" href="/public/css/button-ionicons.min.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="/public/js/head.js" type="text/javascript"></script>
  <script src="/public/js/popper.js" type="text/javascript"></script>
  <script src="/public/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
  <a href="/"><h1>몇 시까지 하샤</h1></a>
  <div class="col-md-12 mb-4">
    <button type="button" class="btn mb-2 mb-md-0 btn-fb">
      <a href="/"> <i class="ion-md-home"></i></a>
    </button>
  </div>

  <div id="welcomeMoment">
    <button id="buttonIn" class="btn yellow darken-2">To Sign In</button>
    <button id="buttonUp" class="btn yellow darken-2">To Sign Up</button>
  </div>
  <div id="userMoment">
    <a href="/user/mypage"><h6>mypage</h6></a>
    <button id="buttonOut" class="btn yellow darken-2">To Sign Out</button>
  </div>

  <!--Sign-up page.-->
  <div id="signUpMoment">
    <form name="form-data">
      <div class="row marginForWelcome">
        <div class="input-field col s6 marginForWelcome">
          <input type="email" id="email" required="required" title="This will be used to login." />
          <label for="email">Email *</label>
        </div>
      </div>
      <div class="row marginForWelcome">
        <div class="input-field col s6 marginForWelcome">
          <input type="password" id="pwd" />
          <label for="pwd">Password *</label>
        </div>
      </div>

      <div class="row marginForWelcome">
        <div class="input-field col s12 marginForWelcome">
          <input type="text" id="username" required="required" title="This will be your username!" />
          <label for="username">Username *</label>
        </div>
      </div>
      <button type="submit" id="signedUp" class="btn yellow darken-2 floatRight">Sign Up</button>
    </form>
    <button id="backToWelcom2" class="btn yellow darken-2 floatRight">Back to the main</button>
  </div>

  <!--Sign-in page.-->
  <div id="signInMoment">
    <form id="login-form">
      <div class="input-field">
        <input
          type="text"
          id="emailForSignIn"
          required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Please fill in your destination.')"
          class="validate"
        />
        <label for="emailForSignIn">Email</label>
      </div>
      <div class="input-field">
        <input type="password" id="pwdForSignIn" required />
        <label for="pwdForSignIn">Password</label>
      </div>
      <a href="#" id="buttonUp1"> Register?</a>
      <br /><br />
      <button type="submit" id="signIn" class="btn yellow darken-2 floatRight">Sign In</button>
    </form>
    <button id="backToWelcom1" class="btn yellow darken-2 floatRight">Back to the main</button>
  </div>
</body>
