<nav class="white">
  <div class="nav-wrapper container">
    <a href="/"><h1>Home PAGE</h1></a>
      <li><a class="black-text" id="profile1" href="/user">Profile</a></li>
      <li><a class="black-text" id="signOut" href="/">SignOut</a></li>
    </ul>
  </div>
</nav>
