<h1>Home PAGE</h1>
<% if(!isLogin){ %>
<a href="/user/signup">signup</a>
<a href="/user/signin">login</a>
<% } else { %>
<a href="/user">mypage</a>
<% } %>

<div id="search"></div>
<div id="category"></div>
