<h1>Home PAGE</h1>
<% if (user === null) { %>
<a href="/user/signup">signup</a>
<a href="/user/signin">login</a>
<% } else { %>
<div><%=user.email%>님</div>
<a href="/user">mypage</a>
<% } %>

<div id="search"></div>
<div id="category"></div>
