<html>
  <head>
    <h1>login PAGE</h1>
    <a href="/">home</a>
    <a href="/user/signup">signup</a>
  </head>
  <body>
    <form action="/user/signin" method="POST">
      email: <input type="text" name="email" /><br />
      password:<input type="text" name="password" /><br />
      <input type="submit" />
    </form>
  </body>
</html>
