<html>
  <head>
    <h1>login PAGE</h1>
    <a href="/">home</a>
  </head>
  <body>
    <form action="/user/signin" method="POST">
      email: <input type="text" name="email" id="signinEM" /><br />
      password:<input type="text" name="password" id="signinPW" /><br />
      <input type="submit" />
    </form>
  </body>
</html>

<script src="/js/signin.js"></script>
