<!DOCTYPE html>
<head>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="/public/js/mypage.js" type="text/javascript"></script>
</head>

<body>
  <header><% include ("header.ejs") %></header>
  <a href="/"><h1>Home PAGE</h1></a>
  <main class="container">
    <div id="profileDisplay" class="yellow-text">
      <div>userName:</div>
      <p id="userNameDisplay">User Name</p>
      <div>Email:</div>
      <p id="emailDisplay">Email</p>
    </div>
  </main>
</body>
