<html>
  <head>
    <h1>signup PAGE</h1>
  </head>
  <body>
    <form action="/user/signup" method="POST">
      email: <input type="text" name="email" /><br />
      username: <input type="text" name="username" /><br />
      password:<input type="text" name="password" /><br />
      <input type="submit" />
    </form>
  </body>
</html>
